
<html>
{{#each foo}}
{{this}}
{{/each}}
<div>
<h3> Add components to a product  </h3>
    <form id="add_components_products" action="/component_product" method="post">
    Product: <select name='pid'>
    <option> Test Product1 </option>
    <option> Test Product2 </option>   
    <option> Test Product3 </option>
    <option> Test Product4 </option>
    <option> Test Product5 </option>
    </select>
    
    Components :<sup>Multi-select</sup> <select multiple name="components"> 
    <option> Test component1 </option>     
    <option> Test component2 </option>
    <option> Test component3 </option>
    <option> Test component4 </option>
    <option> Test component5 </option>
    <option> Test component6 </option>
    <option> Test component7 </option>
    <<option> Test component8 </option>
</select><br>
    <input type="submit" value="Submit" text= "add">
    </form>
</div>

<h2> Here are the Components associated with each Product. </h2>
<table id="cp_table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Component Part Number</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody id="cp_table_body">
        {{#cp}}
        <tr>
            <td id="cp{{this.cid}}_pid" style="display:none;">{{this.pid}}</td>
            <td id="cp{{this.cid}}_cid" style="display:none;">{{this.cid}}</td>
            <td> <input id="c{{this.cid}}p{{this.pid}}_pName" value="{{this.Product_name}}"></td>
            <td> <input id="c{{this.cid}}p{{this.pid}}_cPartNumber" value="{{this.Component_partNumber}}"> </td>
            <td> <input id="c{{this.cid}}p{{this.pid}}_cQty" value="{{this.Component_quantity}}"> </td>
            <td id="c{{this.cid}}p{{this.pid}}_delete">
              <a href="javascript:deleteCP(c{{this.cid}}p{{this.pid}});">
              Delete</a></td>
            <td id="c{{this.cid}}p{{this.pid}}_edit">
              <a href="javascript:updateCP(c{{this.cid}}p{{this.pid}});">
              Update</a>
            </td>
        </tr>
        {{/cp}}
    </tbody>
</table>