<!doctype html>
<h1> On this page you can add, delete or edit a Component</h1>

<form>
    <fieldset>
      <legend>Add a Component:</legend>
      Part Number:  <input id="pnumber" type="text" name="pnumber"> <br>
      Type:  <input id ="ctype" type="text" name="ctype"> <br>
      Stock: <input id="cstock" type="number" name="cstock"> <br>  
      Manufacturer tbd <input type ="text">
      Cost: <input id="ccost" type="text" name="ccost"> <br> 
      Lead Time: <input id ="Lead" type="text" name="Lead"> <br>
    </fieldset>
</form>

<form>
    <fieldset>
      <legend>Search components records:</legend>
      Part Number: <input id="pnumber" type="text" name="pnumber">
      Manufacturer tbd
    </fieldset>
</form>

<br>
<h2> Here are all the components records, edit or delete records if needed </h2>

<table id="components_table" >
  <thead>
      <tr>
        <th>Manufacturer</th>
        <th>Part Number</th>
        <th>Type</th>
        <th>Stock</th>
        <th>Cost</th>
        <th>Lead Time (weeks)</th>
    </tr>
  </thead>

  <tbody id="component_table_body">
    {{#component}}
      <tr>
        <td id="comp{{this.Component_id}}_id" style="display: none;">{{this.Component_id}}</td>
        <td><input id="comp{{this.Component_id}}_Manufacturer_id" value="{{this.Component_Manufacturer_id}}"></td>
        <td><input id="comp{{this.Component_id}}_partNumber" value="{{this.Component_partNumber}}"></td>
        <td><input id="comp{{this.Component_id}}_type" value="{{this.Component_type}}"></td>
        <td><input id="comp{{this.Component_id}}_stock" value="{{this.Component_stock}}"></td>
        <td><input id="comp{{this.Component_id}}_cost" value="{{this.Component_cost}}"></td>
        <td><input id="comp{{this.Component_id}}_leadTime" value="{{this.Component_leadTime}}"></td>
        <td id="man{{this.Manufacturer_id}}_delete">
          <a href="javascript:deleteComponent({{this.Component_id}});">
          Delete</a>
        </td>
        <td id="man{{this.Manufacturer_id}}_edit">
          <a href="javascript:updateComponent({{this.Componenet_id}});">
          Update</a>
        </td>
      </tr>
    {{/component}}
  </tbody>
</table>
