
<html>
{{#each foo}}
{{this}}
{{/each}}
<div>
<h3> Add or delete components form a product  </h3>
    <form id="add_components_products" action="/people_certs" method="post">
    Product: <select name='pid'>
        {{#each Products}}
          <option value='{{Product_id}}'>{{Product_name}} </option>
        {{/each}}
    </select>
    <br>
    Components :<sup>Multi-select</sup> <select multiple name="components"> 
        {{#each Components }}
        <option value="{{Component_id}}">{{Component_partNUmber}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</div>
<br/>
<h3> List of Producs with their components </h3>
<table>
    <thead> 
        <th> Product Name</th> 
        <th>Component </th> 
    </thead> 
  
</table> 
</html>