
<html>

<div>
<fieldset>
<legend > Add a Component to a Product: </legend>
<form class="form-horizontal" id= "add_components_products" action="/component_product_insert" method="GET">

    <div class="form-group">
    <label for="mid" class="col-sm-2 control-label">Select the Product</label>
    <div class="col-sm-10">
      <select name="pid">
        {{#each prod}}
          <option value='{{Product_id}}'>{{Product_name}}</option>
        {{/each}}
    </select>
    </div>
  </div>


    <div class="form-group" >
    <label for="mid" class="col-sm-2 control-label">Select the Component</label>
    <div class="col-sm-10">
      <select name="cid">
        {{#each comp}}
          <option value='{{Component_id}}'>{{Component_partNumber}}</option>
        {{/each}}
    </select>
    </div>
  </div>

 <div class="form-group">
    <label for="Component_quantity" class="col-sm-2 control-label">Quantity</label>
    <div class="col-sm-2">
      <input type="number" class="form-control" id="cQty" name="cQty" placeholder="Quantity">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default"> Add Component to Product </button>
    </div>
  </div>
</form>
</fieldset>


</div>
<br/>
<h2> Here are the Components associated with each Product. </h2>
<table id="cp_table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Component Part Number</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody id="cp_table_body">
        {{#cp}}
        <tr>
            <td id="cp{{this.cid}}_pid" style="display:none;">{{this.pid}}</td>
            <td id="cp{{this.cid}}_cid" style="display:none;">{{this.cid}}</td>
            <td id="c{{this.cid}}p{{this.pid}}_pName">{{this.Product_name}}></td>
            <td id="c{{this.cid}}p{{this.pid}}_cPartNumber">{{this.Component_partNumber}}</td>
            <td> <input id="c{{this.cid}}p{{this.pid}}_cQty" value="{{this.Component_quantity}}"</td>
            <td id="c{{this.cid}}p{{this.pid}}_edit">
              <a href="javascript:updateCP({{this.cid}}, {{this.pid}});">
              Update</a>
            </td>
            <td id="c{{this.cid}}p{{this.pid}}_delete">
            <a href="javascript:deleteCP({{this.cid}},{{this.pid}});">
            Delete</a>
            </td>
        </tr>
        {{/cp}}
    </tbody>
</table>

