<!doctype html>
<h1> On this page you can search add or edit a customer</h1>


<fieldset>
<legend > Add a customer: </legend>
<form class="form-horizontal" id = "add-customer-form" action= "customer-insert" method="GET">

  
  <div class="form-group">
    <label for="cname" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cname" name ="cname" placeholder="Customer Name">
    </div>
  </div>

  <div class="form-group">
    <label for="cphone" class="col-sm-2 control-label">Phone Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cphone" name ="cphone" placeholder="Customer Phone">
    </div>
  </div>

    <div class="form-group">
    <label for="cstreet" class="col-sm-2 control-label">Adress Street</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cstreet" name ="cstreet" placeholder="123 Evergreen Ln">
    </div>
  </div>

    <div class="form-group">
    <label for="ccity" class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ccity" name ="ccity" placeholder="Springfield">
    </div>
  </div>
  
    <div class="form-group">
    <label for="czip" class="col-sm-2 control-label">Zip</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="czip" name ="czip" placeholder="55555">
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default"> Add Customer </button>
    </div>
  </div>
</form>
</fieldset>



<fieldset>
<legend mar> Search customer records: </legend>
<form class="form-horizontal" id = "add-product" action="products-insert" method="GET">
  <div class="form-group">
    <label for="name"  class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cname" name= "cname" placeholder="Customer Name">
    </div>
  </div>

    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" id="customer_search" value = "search" class="btn btn-default"> Search Customer </button>
    </div>
  </div>
</form>
</fieldset>
<br>


<h2> Here are all the customer records, edit or delete records if needed </h2>
<table id="customer_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Street</th>
            <th>City</th>
            <th>Zip Code</th>
        </tr>
    </thead>
    <tbody id="customer_table_body">
        {{#customer}}
        <tr>
            <td id="man{{this.Customer_id}}_id" style="display:none;">{{this.Customer_id}}</td>
            <td> <input id="man{{this.Customer_id}}_name" value="{{this.Customer_name}}"></td>
            <td> <input id="man{{this.Customer_id}}_phone" value="{{this.Customer_phone}}"> </td>
            <td> <input id="man{{this.Customer_id}}_phone" value="{{this.Customer_street}}"> </td>
            <td> <input id="man{{this.Customer_id}}_zip" value="{{this.Customer_city}}"> </td>
            <td> <input id="man{{this.Customer_id}}_zip" value="{{this.Customer_zip}}"> </td>
            <td id="man{{this.Customer_id}}_edit">
              <a href="javascript:updateCustomer({{this.Customer_id}});">
              Update</a>
            </td>
        </tr>
        {{/customer}}
    </tbody>
</table>
