
<h1> On this page you can add, delete or edit a manufacturer</h1>

<form id ="addmanufacturer" action="/manufacturer" method ="post" >
	<fieldset>
		<legend>Add a Manufacturer:</legend>
		 Name:<input id="mname" type="text" name="mname"> <br>
    		 Phone Number:<input id ="mphone" type="text" name="mphone"> <br>
      		Zip: <input id ="mzip" type="text" name="mzip"> <br>
      		Discount: <input id="mdiscount" type="number" name="mdiscount"> <br>
      Preferred:
      <br>
      <input id="preferred_true" type="radio" name="mpreferred" value="true" />Yes</label>
      <input id="preferred_false" type="radio" name="mpreferred" value="false" />No </label>
      <br>
      <input type="submit" id="manufacturer_add" text= "add">
    </fieldset>
</form>

<form>
	<fieldset>
	<legend> Search manufacturer records: </legend>
	Name: <input id= "mname" type= "text" name="mname">
	<input type= "submit" id = customer_search" value = "search">
</fieldset>
</form> 

<br />

<h2> Here are all the manufacturer records, edit or delete records if needed </h2>
<table id="manufacturer_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Discount</th>
            <th>Preferred Vendor</th>
            <th>Phone</th>
            <th>Zip Code</th>
        </tr>
    </thead>
    <tbody id="manufacturer_table_body">
        {{#manufacturer}}
        <tr>
            <td id="man{{this.Manufacturer_id}}_id" style="display:none;">{{this.Manufacturer_id}}</td>
            <td> <input id="man{{this.Manufacturer_id}}_name" value="{{this.Manufacturer_name}}"></td>
            <td> <input id="man{{this.Manufacturer_id}}_discount" value="{{this.Manufacturer_discount}}"> </td>
            <td>
              {{#if this.Manufacturer_preferred}}
                <input id="man{{this.Manufacturer_id}}_preferred" value="Yes">
              {{else}}
                <input id="man{{this.Manufacturer_id}}_preferred" value="No">
              {{/if}}
            </td>
            <td> <input id="man{{this.Manufacturer_id}}_phone" value="{{this.Manufacturer_phone}}"> </td>
            <td> <input id="man{{this.Manufacturer_id}}_zip" value="{{this.Manufacturer_zip}}"> </td>
            <td id="man{{this.Manufacturer_id}}_delete">
              <a href="javascript:deleteManufacturer({{this.Manufacturer_id}});">
              Delete</a></td>
            <td id="man{{this.Manufacturer_id}}_edit">
              <a href="javascript:updateManufacturer({{this.Manufacturer_id}});">
              Update</a>
            </td>
        </tr>
        {{/manufacturer}}
    </tbody>
</table>

