<!doctype html>
<h1> On this page you can search,  add or edit a manufacturer</h1>

<form id ="add-manufacturer-form" action="manufacturer-insert" method="GET">
	<fieldset>
		<legend>Add a Manufacturer:</legend>
	  Name:<input id="mname" type="text" name="name"> <br>
		Phone Number:<input id ="mphone" type="text" name="phone"> <br>
		Zip: <input id ="mzip" type="text" name="zip"> <br>
		Discount: <input id="mdiscount" type="number" min="0" max="1" step="0.01" name="discount"> <br>
    Preferred:
      <br>
      <input id="preferred_true" type="radio" name="preferred" value="true" />Yes</label>
      <input id="preferred_false" type="radio" name="preferred" value="false" />No </label>
      <br>
    <input type="submit" value="submit">
  </fieldset>
</form>

<form id="manufacturer-search" action="manufacturer-search" method="GET">
	<fieldset>
	<legend> Search manufacturer records: </legend>
	Name: <input id= "search_name" type= "text" name="name">
	<input type= "submit" id = man_search" value = "search">
</fieldset>
</form> 

<br />

<h2> Here are all the manufacturer records, edit or delete records if needed </h2>
<table id="manufacturer_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Discount</th>
            <th>Preferred Vendor</th>
            <th>Phone</th>
            <th>Zip Code</th>
        </tr>
    </thead>
    <tbody id="manufacturer_table_body">
        {{#manufacturer}}
        <tr>
            <td id="man{{this.Manufacturer_id}}_id" style="display:none;">{{this.Manufacturer_id}}</td>
            <td> <input id="man{{this.Manufacturer_id}}_name" value="{{this.Manufacturer_name}}"></td>
            <td> <input id="man{{this.Manufacturer_id}}_discount" value="{{this.Manufacturer_discount}}"> </td>
            <td>
              {{#if this.Manufacturer_preferred}}
                <input id="man{{this.Manufacturer_id}}_preferred" value="Yes">
              {{else}}
                <input id="man{{this.Manufacturer_id}}_preferred" value="No">
              {{/if}}
            </td>
            <td> <input id="man{{this.Manufacturer_id}}_phone" value="{{this.Manufacturer_phone}}"> </td>
            <td> <input id="man{{this.Manufacturer_id}}_zip" value="{{this.Manufacturer_zip}}"> </td>
            <td id="man{{this.Manufacturer_id}}_edit">
              <a href="javascript:updateManufacturer({{this.Manufacturer_id}});">
              Update</a>
            </td>
        </tr>
        {{/manufacturer}}
    </tbody>
</table>

