<!doctype html>
<h1> In this page you can add, delete or edit an Order</h1>


<fieldset>
<legend > Add an Order: </legend>
<form class="form-horizontal" id=" add-order-form" action= "orders-insert" method="GET">

  <div class="form-group">
    <label for="ostatus" class="col-sm-2 control-label"> Status: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ostatus" name ="ostatus" placeholder="Status">
    </div>
  </div>

  <div class="form-group">
    <label for="mphone" class="col-sm-2 control-label"> Date Created: </label>
    <div class="col-sm-2">
      <input type="date" class="form-control" id="datec" name ="datec" placeholder="MM/DD/YYYY">
    </div>
  </div>


    <div class="form-group">
    <label for="mdiscount" class="col-sm-2 control-label">  Customer:</label>
    <div class="col-sm-2">
      <input type="number" class="form-control" id="customer" name="customer" placeholder="Cust No">
    </div>
  </div>

 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default"> Add Order </button>
    </div>
  </div>
</form>
</fieldset>



<fieldset> 
<legend > Here are the orders placed </legend> 
<table id="order_table">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Customer Name</th>
            <th>Date Placed</th>
            <th>Order Status</th>

        </tr>
    </thead>
    <tbody id="order_table_body">
        {{#order}}
        <tr>
            <td id="order{{this.Order_id}}_id">{{this.Order_id}}</td>
            <td id="order{{this.Order_id}}_cName">{{this.Customer_name}}</td>
            <td> <input id="order{{this.Order_id}}_pDate" value="{{this.Order_dateCreated}}"> </td> 
            <td> <input id="order{{this.Order_id}}_oStatus" value="{{this.Order_status}}"> </td>
           <!--  <td> <input id="order{{this.Order_id}}_pName" value="{{this.Product_name}}"> </td>
            <td> <input id="order{{this.Order_id}}_pQty" value="{{this.Product_quantity}}"> </td> -->
            <td id="order{{this.Order_id}}_edit">
              <a href="javascript:updateOrder({{this.Order_id}});">
              Update</a>
            <td id="order{{this.Order_id}}_delete">
              <a href="javascript:deleteOrder({{this.Order_id}});">
              Delete</a></td>

            </td>
        </tr>
        {{/order}}
    </tbody>
</table>
</fieldset> 
