<!doctype html>
<h2> In this page you can add, delete or edit an Order</h2>
<h4> You can also display all the orders records and search for specific records </h4>
<form>
    <fieldset>
      <legend>Add an Order :</legend>
      Status:  <input id="status" type="text" name="status"> <br>
      Date Created:  <input id ="datec" type="text" name="datec"> <br>
      Date Fulfilled:  <input id ="datef" type="text" name="datef"> <br>
      {{! -- Customer: <select name = "Customer">
      {{#each Customer}} 
      <option value=" {{Customer_id}}"> {{name}} </option>
      </select> <br> --}}
    </fieldset>
</form>

<form>
    <fieldset>
      <legend>Search Orders:</legend>
      Status:  <input id="status" type="text" name="status"> 
      Date Created:  <input id ="datec" type="text" name="datec"> 
      Date Fulfilled:  <input id ="datef" type="text" name="datef"> <
      {{! -- Customer: <select name = "Customer">
      {{#each Customer}} 
      <option value=" {{Customer_id}}"> {{name}} </option>
      </select> <br> --}}
    </fieldset>
</form>

<br>

<form>
    <fieldset>
      <legend>Search or modify the products within an order:</legend>
      
    </fieldset>
</form>

<h2> Here are the Products associated with each Order. </h2>
<table id="order_table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Date Placed</th>
            <th>Date Fulfilled</th>
            <th>Order Status</th>
            <th>Prodcut Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody id="order_table_body">
        {{#order}}
        <tr>
            <td id="order{{this.Order_id}}_id">{{this.Order_id}}</td>
            <td> <input id="order{{this.Order_id}}_cName" value="{{this.Customer_name}}"></td>
            <td> <input id="order{{this.Order_id}}_pDate" value="{{this.Order_dateCreated}}"> </td>
            <td> <input id="order{{this.Order_id}}_fDate" value="{{this.Order_dateFulfilled}}"> </td>
            <td> <input id="order{{this.Order_id}}_oStatus" value="{{this.Order_status}}"> </td>
            <td> <input id="order{{this.Order_id}}_pName" value="{{this.Product_name}}"> </td>
            <td> <input id="order{{this.Order_id}}_pQty" value="{{this.Product_quantity}}"> </td>
            <td id="order{{this.Order_id}}_delete">
              <a href="javascript:deleteOrder(order{{this.Order_id}});">
              Delete</a></td>
            <td id="order{{this.Order_id}}_edit">
              <a href="javascript:updateOrder(order{{this.Order_id}});">
              Update</a>
            </td>
        </tr>
        {{/order}}
    </tbody>
</table>