<!doctype html>
<h1> On this page you can add or edit a product</h1>

<form id = "add-product" action="products-insert" method="GET">
    <fieldset>
      <legend>Add a product:</legend>
      Name: <input id="pname" type="text" name="pname"> <br>
      Description: <input id ="pdescription" type="text" name="pdescription"> <br>
      Cost: <input id="pcost" type="number" name="pcost"> <br>
      Price: <input id="pprice" type="number" name="pprice">  <br>
      <input type="submit" id="prod_submit" text="add">
    </fieldset>
</form>

<form>
    <fieldset>
      <legend>Search product records:</legend>
      Name:  <input id="name" type="text" name="name">
      <input type="submit" id="customer_search" value = "search"> 
    </fieldset>
</form>

<h2> Here are all the product records, edit or delete records if needed </h2>
<table id="product_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody id="manufacturer_table_body">
        {{#product}}
        <tr>
            <td id="man{{this.Product_id}}_id" style="display:none;">{{this.Product_id}}</td>
            <td> <input id="man{{this.Product_id}}_name" value="{{this.Product_name}}"></td>
            <td> <input id="man{{this.Product_id}}_description" value="{{this.Product_description}}"> </td>
            <td> <input id="man{{this.Product_id}}_cost" value="{{this.Product_cost}}"> </td>
            <td> <input id="man{{this.Product_id}}_price" value="{{this.Product_price}}"> </td>
            <td id="man{{this.Product_id}}_edit">
              <a href="javascript:updateProduct({{this.Product_id}});">
              Update</a>
            </td>
        </tr>
        {{/product}}
    </tbody>
</table>
